HELP.md
resources/
*.log
*.class
.env
.properties

### IDEs ###
.idea
.vscode
*.iml

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Otros ###
build/